html, body {
	width: 800px;
	overflow-x: hidden;
}

.panel {
  margin: 20px;
}

.filter-container {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

.switch-tabs {
	margin: 0;
}

.switch-tabs a {
  display: block;
  text-decoration: none;
  padding: .5em 4px;
  color: #444;
}

a.tab-link.hidden {
	display: none;
}

a.tab-link.shown {
	display: block;
}

.switch-tabs a.selected {
	background-color: #eee;
}

#tab-filter {
	width: 100%;
}
