html, body {
	width: 800px;
	overflow-x: hidden;
}

.panel {
  margin: 20px;
}

.filter-container {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

.switch-tabs {
	margin: 0 4px;
}

.switch-tabs a {
  display: block;
  text-decoration: none;
  padding: .5em 0;
  color: #444;
}

#tab-filter {
	width: 100%;
}
